/* createNotes CSS */
.new_card {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
@media screen and (max-width: 600px) {
  .new_card {
    width: 320px;
  }
}
.create {
  padding: 18px;
  height: 18px;
  width: 30em;
}
.a1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.create_icon {
  width: 9em;
  display: flex;
  justify-content: space-between;
}

.card_open {
  margin-top: 125px;
  display: flex;
  justify-content: center;
}

.card1 {
  padding: 18px;
  /* height: 100px; */
  width: 30em;
  height: auto;
  /* width: 32em;
    padding: 18px; */
  overflow: visible;
  overflow-x: visible;
  overflow-y: visible;
}
.pin {
  justify-content: flex-end;
  width: -14em;
  display: flex;
  margin-top: -14px;
}
.unpin {
  justify-content: flex-end;
  width: -14em;
  display: flex;
  margin-top: -14px;
}
.unpin1 {
  justify-content: flex-end;
  width: 12em;
  display: flex;
}
.pin1 {
  justify-content: flex-end;
  width: 12em;
  display: flex;
}

.icons2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding-left: 5px;
  top: 2px;
}
.icons23 {
  left: 35px;
  top: -8px;
}
.icons1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  padding: 5px;
}

@media screen and (max-width: 360px) {
  .new_card {
    max-width: 600px;
  }
}

.pin-over {
  height: 1.6em;
  width: 1.6em;
  opacity: 0.9; /* justify-content: space-between; */
  /* display: flex; */
  /* padding-left:  900px; */
  /* margin-top: ; */

  /* width: 30em; */
}

.pin-btnv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* .paint {
  margin: -37px;
  top: -70px;
  left: 111px;
} */
.MuiSvgIcon-root {
  fill: currentColor;
  width: 7em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}

._notes_ {
  display: flex;
  flex-direction: column-reverse;
  width: 49%;
  flex-wrap: wrap;
  font-variant: diagonal-fractions;
  justify-content: space-around;
  padding-left: 211px;
}

.getnoteicons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: -20px;
  cursor: pointer;
  padding: 15px;
}

._notes {
  display: flex;
  justify-content: center;
  
}

.notes_ {
  display: "inline-flex";
  font-variant: diagonal-fractions;
  width: "250px";
  min-height: "135px";
  height: "auto";
  margin: "5px";
  padding: "10px";
  box-shadow: "0px 1px 7px 0px";
  margin-top: "10%";
  border-radius: "15px";
}
.drop {
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  opacity: "0.9";
}
.getnoteicons_trash{
  display: flex;
  justify-content: space-around;
}

.ttt{
  display: flex;
  /* flex-wrap: wrap;
 
  justify-content: center; */
  flex-direction: column-reverse;
    /* display: flex; */
  
}
.base{
  display: inline-flex
  /* display: flex; */
}