.headmain {
    text-align: center;
    color: rgb(85, 219, 107);
  }

.card_style{
    height: -webkit-fill-available;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .signup {
    text-align: center;
    color: rgb(76, 136, 27);
  }
  
  .link {
    font-size: 20px;
    position: relative;
    left: 60px;
    top: -40px;
    right: -30px;
    bottom: 70px;
    color: darkblue;
  }
  
  .Register-button {
    position: relative;
    left: -20px;
    top: 10px;
    right: 50px;
    bottom: 10px;
  }
  
  .fundoohead {
    padding-left: 0%;
    color: rgb(30, 210, 75);
  }
  
  button {
    position: relative;
    left: -30px;
    top: 10px;
    right: 102px;
    bottom: 103px;
  }
  
  
  
  .mainLogin {
    width: 100%;
    height: 100%;
    display: flex;
    position: absolute;
    top: 20%;
    left: 30%;
   
  }
  
  .Register {
    padding-left: 18%;
    padding-right: 11%;
    
  }
  
  .Login {
    padding-right: 0%;
    padding-left: 0%;
    padding-bottom: 10%;
  }

  .row {
    display: flex;
    justify-content: center;
  }

  .snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 1rem;
  }

  .snackbar.show {
    visibility: visible; /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
   However, delay the fade out process for 2.5 seconds */
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }


 